# IDE and OS files
/.fleet
/.idea
/.vscode
.DS_Store
*.swp

# Dependency directories
/node_modules
/vendor

# Application build and log files
/public/build
/public/hot
npm-debug.log
yarn-error.log

# Storage files
/public/storage
/storage/*.key
/storage/app/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/*.log

# Environment files
.env
.env.*
!.env.example

# PHPUnit cache
/.phpunit.cache
/.phpunit.result.cache

# Homestead configuration
Homestead.json
Homestead.yaml

# Composer authentication file
auth.json